<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Okul_proje.Properties.Settings.OkulConnectionString"
            connectionString="Data Source=DESKTOP-6F9GQRG\SQLEXPRESS;Initial Catalog=Okul;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>